@model List<BikeStore.ViewModels.BrandViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@System.Configuration.ConfigurationManager.AppSettings["AppName"]</h1>
    Administrative areas:
    <ul>
        <li>@Html.ActionLink("Bikes", "Index", "Bike")</li>
        <li>@Html.ActionLink("Brands", "Index", "Brand")</li>
    </ul>
</div>

<h2>Brands</h2>
<div class="row">
    @foreach (var brand in Model)
    {
        <div class="col-md-3">@brand.BrandName</div>
    }
</div>